{% extends 'base.html' %}

{% block content %}

<!--Main layout-->
<main class="mt-4 pt-5">
	<div class="container">

		<h1>Resumo do pedido</h1>	

		<div class="table-responsive text-nowrap">

			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Nome do item</th>
						<th scope="col">Preço</th>
						<th scope="col">Quantidade</th>
						<th scope="col">Preço final</th>
					</tr>
				</thead>
				<tbody>
					{% for item in order.items.all %}
					<tr>
						<th scope="row">{{ forloop.counter }}</th>
						<td>{{ item.item.title }}</td>
						<td>${{ item.item.price }}</td>
						<td>
							<a href="{% url 'core:remove-quantity-from-cart' item.item.slug %}">
								<i class="fa fa-minus"></i>
							</a>
							&nbsp;
							{{ item.quantity }}
							&nbsp;
							<a href="{% url 'core:add-to-cart' item.item.slug %}">
								<i class="fa fa-plus"></i>
							</a>
						</td>
						<td>R$
							{% if item.item.discount_price %}
								{{ item.get_total_discount_item_price }}
								<span class="badge badge-primary">(Desconto: R${{ item.get_amount_saved }})</span>
							{% else %}
								{{ item.get_total_item_price }}
							{% endif %}
						</td>
					</tr>
					{% empty %}
						<tr>
							<td colspan="5">Seu carro está vazio</td>
						</tr>
						<tr>
							<td colspan="5">
								<a href="/" class="btn btn-primary float-right">Continuar comprando</a>
							</td>
						</tr>
					{% endfor %}
					{% if order.items %}
						<tr>
							<td colspan="4"><strong>Valor total do pedido</strong></td>
							<td>R${{ order.get_total }}</td>
						</tr>
						<tr>
							<td colspan="5">
								<a href="{% url 'core:checkout' %}" class="btn btn-primary float-right">Realizar checkout</a>
							</td>
						</tr>
					{% endif %}
				</tbody>
			</table>

		</div>
	</div>
</main>

{% endblock content %}
